body {
	text-align: center;
	font-family: sans-serif;
	width: 600px;
	margin: 0 auto;
}

img {
	max-width: 350px;
}

button {
	padding: 5px;
	border-radius: 3px;
	outline: none;
	margin: 10px;
}

ul {
	list-style: none;
	
}

li {
text-align: center;
}
div {
	margin: 20px auto;
}

.header {
	border: 3px solid black;
	border-radius: 3px;
}

#info {
	border: 2px solid black;
	border-radius: 3px;
	padding: 3px;
}

#fave-food {
	border: 2px solid purple;
	border-radius: 3px;
	padding: 3px;
}

#img {
	border: 3px double black;
	border-radius: 3px;
	padding: 3px;
}

#stuff {
	border: 2px solid purple;
	border-radius: 3px;
	padding: 3px;
}