body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background: #083851;
	color: #091930;
	text-align: center;
}

img {
	width: 100%;
	height: 100%;
}

main {
	width: 90%;
	margin: 0 auto;
}

h1 {
	margin: 40px auto 20px auto;
	font-size: 3em;
	color: white;
}

p, li {
	letter-spacing: .25px;
	line-height: 1.5em;
}

hr {
	width: 10%;
	background-color: white;
	border-top: 4px solid white;
}

.caption {
	position: relative;
	bottom: 50px;
	left: 15%;
	background: black;
	color: white;
	width: 75%;
	padding: 10px;
}

.section {
	display: inline-block;
	width: 42%;
	margin: 30px auto 0 auto;
	padding: 0 20px;
	overflow: none;
	height: 100%;
	vertical-align:top;
}

.description {
	background: white;
	text-align: left;
	padding: 20px 40px;
	margin-bottom: 10px;
}
