<main>
	<div class="section">
		<img src=" <%= myInfo.imgSource %> ">
		<p class="caption"> <%= myInfo.imgCaption %> </p>
	</div>
	<div class="section">
		<div class="description">
			<p> <%= myInfo.description %> </p>
		</div>
		<div class="description">
			<h3>Favorite Foods</h3>
			<ul>
				<% for (var i=0; i< myInfo.favoriteFoods.length; i++){ %>
					<li> <%= myInfo.favoriteFoods[i] %> </li>
				<%}%>
			</ul>
		</div>
	</div>
</main>
