<div id = "about">
	<p id="aboutContent"> 
		I just moved to Seattle and will never understand how people refer to the rain as being <stong>"not that bad"</strong>. It never stops, and I hate it. The mountains make up for it. They are perfect.
	</p>
</div>