<h3>What Kind of Foods do I like?</h3>

<ul>
  <% myFoods.forEach(function(food) { %>
  <div id="wrapper">
  <li><%= food.food %></li><div class = "images"><img src = "/img/<%=food.img%>" class="hover"><p class="text"><%= food.description %></p></div>
</div>
  <% }); %>
</ul>