<div>
	<a href="https://i.imgur.com/JkBKwj7.jpg">Amsterdam </a>
	<a href="https://i.imgur.com/c76UqNN.gif">Italy </a>
	<a href="https://i.imgur.com/H1j0lWz.jpg">Cabo </a>
	<a href="https://i.imgur.com/f1Y1xzl.mp4">Bali </a>
	<hr>
</div>