<!DOCTYPE html>
<html>
<head>
	<title>ABOUT ME</title>
</head>
<body>
<h1>Who is <%= name%>?</h1>
<h2></h2>
<h2>These are dishes I like</h2>
    <ul>
    <% for (var i=0; i < dish.length; i++){ %>
	<p><%= dish[i]%></p>
<%}%>
    </ul>



</body>
</html>