<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>ABOUT ME</title>
</head>
<body>
	<div class='wrapper'>		
		<h1>About <%= name%></h1>
		<h2></h2>
		<h2>Food Phil Likes</h2>
		<% include ../partials/dishes.ejs%>
	</div>




</body>
</html>