<!DOCTYPE html>
<html>
<head>
	<title>About Reilly!</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<%- include('../partials/navbar.ejs') %>
	<h1>hi, I'm <%= name %></h1>
	<h2 class="main">Check out my About Me<br> tab to learn a bit about me</h2>
</body>
</html>