<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>
	<% include ../partials/title.ejs %>
	<% include ../partials/about.ejs %>
	<% include ../partials/foods.ejs %>
</body>
</html>