<!DOCTYPE html>
<html>
<head>
	<title>Winston Internet Edition</title>
</head>
<body>
	<h1><a href="/"> Winston The Full Blown Internet Edition</a></h1>
	<div>
		<%- body %>
	</div>

	<script src="/routing.js"></script>	
</body>
</html>