<!DOCTYPE html>
<html>
<head>
	<title>Peter's world</title>
</head>
<body>
	<h1>
		<a href="/"> home page icon</a>
	</h1>
	
	<div>
		<%- body %>
	</div>

	<script src="/routing.js"></script>	
</body>
</html>