body{
	background: black;
	text-transform: uppercase;
	font-family: 'Barlow Semi Condensed', sans-serif;
	color: #edefec;
}

img {
	position: relative;
	right: 0;
	height: 200px;
	width: auto;
	z-index: -1;
}

li {

	font-size: 32px;
	text-align: center;
	z-index: 1;
}

ul {
	list-style: none;
}

h1 {
	font-size: 58px;
	margin: 0px;

}

h2 {
	margin: 0px;
	font-size: 58px;
	text-align: center;
	font-weight: bold;
}

h3 {
	font-size: 32px;
	background-color: #6f7376;
	text-align: center;
}

#wrapper .text {
position:relative;
bottom:10px;
left:0px;
visibility:hidden;
}

#wrapper:hover .text {
visibility:visible;
}


.text {
	font-size: 48px;
	color: red;
	font-weight: bold;
}

.images {
	text-align: center;
	z-index: -1;
}

#about{
	text-align: justify;
		margin-left: 200px;
	margin-right: 200px;
}
#aboutContent {
	text-transform: none;
	text-align: center;
	font-size: 24px;


}