body{
	background: black;
	text-transform: uppercase;
	font-family: 'Barlow Semi Condensed', sans-serif;
	color: white;
}

img {
	height: 200px;
	width: auto;
}

h2 {
	font-size: 46px;
}

h3 {
	font-size: 32px;
	background-color: gray;
}

#wrapper .text {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
}

#wrapper:hover .text {
visibility:visible;
}


.text {
	font-size: 48px;
	color: red;
}